@model Looking4Home.BL.Producto
@{
    ViewBag.Title = "Editar";
}
@{ 
    
}

<h2>Editar</h2>

    <!--Plugin Maps-->
<script type="text/javascript" src="https://maps.google.com/maps/api/js?sensor=false&libraries=places&key=AIzaSyDEg7Q9nr2V_cDfRsKSgvC9CeiA68aSz18"></script>
<script src="~/assets/js/locationpicker.jquery.js"></script>

@using (Html.BeginForm("Editar", "Productos", FormMethod.Post, new { enctype = "multipart/form-data" } ))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Producto</h4>
        <hr />

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.Vendedor, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("VendedorId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.VendedorId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Etiqueta, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("EtiquetaId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.EtiquetaId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Descripcion, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Descripcion, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Descripcion, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Categoria, "Categoria", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("CategoriaId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.CategoriaId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Estructura, "Estructura", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("EstructuraId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.EstructuraId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Latitude, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10" style="width: 300px">
                @Html.EditorFor(model => model.Latitude, new { htmlAttributes = new { @Class = "form-control", @id = "Latitude" } })
            </div>
            @Html.LabelFor(model => model.Longitud, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10" style="width: 300px;">
                @Html.EditorFor(model => model.Longitud, new { htmlAttributes = new { @Class = "form-control", @id = "Longitud" } })
            </div>
        </div>

        <div class="form-group" id="ModalMap">            
            @Html.LabelFor(model => model.Localizacion, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Localizacion, new { htmlAttributes = new { @class = "form-control", @id="Localizacion" } })                
                @Html.ValidationMessageFor(model => model.Localizacion, "", new { @class = "text-danger" })                                
                <p></p> 
                
                <div id="ModalMapPreview" style="width:100%; height:450px;"></div>
                <div class="clearfix"> &nbsp;</div>



                <script>
                    //$('#Localizacion').click(function (e) {
                    //    e.preventDefault();
                    //});

                    var dataLat = @Model.Latitude;
                    var dataLng = @Model.Longitud;

                    $('#ModalMapPreview').locationpicker({
                     radius: 0,
                        location: {
                         latitude: dataLat,
                         longitude: dataLng
                        },
                        inputBinding: {
                            locationNameInput: $('#Localizacion'),
                            latitudeInput: $('#Latitude'),
                            longitudeInput: $('#Longitud')
                        },
                        enableAutocomplete: true

                    });
                    $('#ModalMap').on('shown.bs.modal', function () {
                        $('#ModalMapPrevie').locationpicker('autozise');
                    });
                </script>                                                            
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Parking, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Parking, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Parking, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Bano, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Bano, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Bano, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Habitaciones, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Habitaciones, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Habitaciones, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Metros, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Metros, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Metros, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Precio, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Precio, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Precio, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            <label class="control-label col-md-2">Seleccinar Imagen</label>
            <div class="col-md-2">
                <input style="padding-top: 4px;" type="file" name="imagen" id="imagen" />
            </div>

            <div class="col-md-10">
                <img src="@Model.UrlImagen" alt="@Model.Descripcion" style="width:200px; height:auto; padding-top:10px" />
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Seleccinar 2 Imagen</label>
            <div class="col-md-2">
                <input style="padding-top: 4px;" type="file" name="imagen2" id="imagen2" />
            </div>
            <div class="col-md-10">
                <img src="@Model.UrlImagen2" alt="@Model.Descripcion" style="width:200px; height:auto; padding-top:10px" />
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Seleccinar 3 Imagen</label>
            <div class="col-md-2">
                <input style="padding-top: 4px;" type="file" name="imagen3" id="imagen3" />
            </div>
            <div class="col-md-10">
                <img src="@Model.UrlImagen3" alt="@Model.Descripcion" style="width:200px; height:auto; padding-top:10px" />
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Seleccinar 4 Imagen</label>
            <div class="col-md-2">
                <input style="padding-top: 4px;" type="file" name="imagen4" id="imagen4" />
            </div>
            <div class="col-md-10">
                <img src="@Model.UrlImagen4" alt="@Model.Descripcion" style="width:200px; height:auto; padding-top:10px" />
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Seleccinar 5 Imagen</label>
            <div class="col-md-2">
                <input style="padding-top: 4px;" type="file" name="imagen5" id="imagen5" />
            </div>
            <div class="col-md-10">
                <img src="@Model.UrlImagen5" alt="@Model.Descripcion" style="width:200px; height:auto; padding-top:10px" />
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Activo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.Activo)
                    @Html.ValidationMessageFor(model => model.Activo, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Guardar" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Regresar a la Lista", "Index")
</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
