@model Looking4Home.BL.Producto

@{
    ViewBag.Title = "";
}

<h2></h2>

<h3>Esta seguro que desea eliminarlo?</h3>
<div>
    <h4>Producto</h4> 
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.Vendedor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Vendedor.Nombre)
        </dd>
        
        <dt>
            @Html.DisplayNameFor(model => model.Etiqueta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Etiqueta.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Categoria)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Categoria.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estructura)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estructura.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Localizacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Localizacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Parking)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Parking)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Bano)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bano)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Habitaciones)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Habitaciones)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Metros)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Metros)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Precio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Precio)
        </dd>

        <dt style="padding-top: 10px;">
            @Html.DisplayNameFor(model => model.UrlImagen)
        </dt>

        <dd>
            <img src="@Model.UrlImagen" alt="@Model.Descripcion" style="width:200px; height:auto;" />
        </dd>

        <dt style="padding-top: 10px;">
            @Html.DisplayNameFor(model => model.UrlImagen2)
        </dt>

        <dd>
            <img src="@Model.UrlImagen2" alt="@Model.Descripcion" style="width:200px; height:auto; padding-top:10px" />
        </dd>
        <dt style="padding-top: 10px;">
            @Html.DisplayNameFor(model => model.UrlImagen3)
        </dt>

        <dd>
            <img src="@Model.UrlImagen3" alt="@Model.Descripcion" style="width:200px; height:auto; padding-top:10px" />
        </dd>
        <dt style="padding-top: 10px;">
            @Html.DisplayNameFor(model => model.UrlImagen4)
        </dt>

        <dd>
            <img src="@Model.UrlImagen4" alt="@Model.Descripcion" style="width:200px; height:auto; padding-top:10px" />
        </dd>

        <dt style="padding-top: 10px;">
            @Html.DisplayNameFor(model => model.UrlImagen5)
        </dt>

        <dd>
            <img src="@Model.UrlImagen5" alt="@Model.Descripcion" style="width:200px; height:auto; padding-top:10px" />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estado)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Borrar" class="btn btn-default" /> |
            @Html.ActionLink("Regresar a la Lista", "Index")
        </div>
    }
</div>
