@model List<Looking4Home.BL.Producto>
@{
    ViewBag.Title = "Renta";
}

<!-- Hero Section end -->
<section class="hero-section set-bg" data-setbg="assets/img/hero/hero-2.jpg" style="padding-top: 290px; padding-bottom: 34px">
    <div class="search-form">
        <div class="container">
            <!--BUSCADOR-->
            <div class="hero-warp">
                <form class="main-search-form">
                    <div class="search-type">
                        <div class="st-item">
                            <input type="radio" name="st" id="buy" checked>
                            <label for="buy"><i id="buy"><a href="~/Compra">Compra</a></i></label>
                        </div>
                        <div class="st-item">
                            <input type="radio" name="st" id="rent">
                            <label for="rent"><i id="rent"><a href="~/Renta">Rentas</a></i></label>
                        </div>
                        <!--<div class="st-item">
                                <input type="radio" name="st" id="sell">
                                <label for="sell">Venta</label>
                            </div>-->
                        <div class="st-item">
                            <input type="radio" name="st" id="property">
                            <label for="property">Precio</label>
                        </div>
                        <div class="st-item">
                            <input type="radio" name="st" id="agents">
                            <label for="agents">Agentes</label>
                        </div>
                        <div class="st-item">
                            <input type="radio" name="st" id="gps">
                            <label for="gps">Localizacion</label>
                        </div>
                    </div>
                    <div class="search-input">
                        <input type="text" placeholder="Busca lo que necesites">
                        <button class="site-btn">Buscar</button>
                    </div>
                    <p>Busca entre miles de Opciones, todo esta al alcanse de tus manos</p>
                </form>
            </div>
        </div>
    </div>
</section>
<!-- Hero Section End  FIN IMPORTANTE -->

<hr>

<!-- Search Result Section end -->
<section class="search-result-section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-6 p-0" style="max-width: 40%;">
                <div class="search-result-map">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d14376.077865872314!2d-73.879277264103!3d40.757667781624285!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sbd!4v1546528920522" style="border:0" allowfullscreen></iframe>
                </div>
            </div>
            <div class="col-xl-6 p-0" style="max-width: 60%;">
                <div class="search-results">
                    <!--INICIO-->


                    @foreach (var producto in Model.Where(r => r.Etiqueta.Descripcion == "Renta")
                        .Take(4)
                        .OrderBy(r => Guid.NewGuid()))
                    {

                        <div class="col-lg-9">
                            <div class="property-list">
                                <div class="single-property-item">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="property-pic">
                                                <img src="@(ViewBag.adminWebsiteUrl + producto.UrlImagen)" alt="">
                                            </div>
                                        </div>
                                        <div class="col-md-8">
                                            <div class="property-text">
                                                <div class="s-text">@producto.Etiqueta.Descripcion</div>
                                                <h5 class="r-title">@producto.Localizacion</h5>
                                                <div class="room-price">
                                                    <span>Precio:</span>
                                                    <h5>L. @producto.Precio</h5>
                                                </div>
                                                <div class="properties-location">
                                                    <i class="fa fa-map-marker"></i>@producto.Localizacion
                                                </div>
                                                <p>@producto.Descripcion</p>
                                                <ul class="room-features">
                                                    <li>
                                                        <i class="fa fa-arrows"></i>
                                                        <p>@producto.Metros<span> M2</span> </p>
                                                    </li>
                                                    <li>
                                                        <i class="fa fa-bed"></i>
                                                        <p>@producto.Habitaciones
                                                      
                                                        @if (producto.Habitaciones == 1)
                                                        {
                                                            <span>  Habitacion</span>
                                                        }
                                                        else if (producto.Habitaciones != 1)
                                                        {
                                                            <span>  Habitaciones</span>
                                                        }
                                                        </p>
                                                    </li>
                                                    <li>
                                                        <i class="fa fa-bath"></i>
                                                        <p>@producto.Bano
                                                        
                                                            @if (producto.Bano == 1)
                                                            {
                                                                <span>  Baño</span>
                                                            }
                                                            else if (producto.Bano != 1)
                                                            {
                                                                <span>  Baños</span>
                                                            }
                                                        </p>
                                                    </li>
                                                    <li>
                                                        <i class="fa fa-car"></i>
                                                        <p>@producto.Parking

                                                        @if (producto.Parking == 1)
                                                        {
                                                            <span>  Estacionamiento</span>
                                                        }
                                                        else if (producto.Parking != 1)
                                                        {
                                                            <span>  Estacionamientos</span>
                                                        }
                                                                     
                                                        </p>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }

                    <div class="property-pagination" style="padding-left: 20px">
                        <a href="/Mapa">1</a>
                        <a href="">2</a>
                        <a href="#">3</a>
                    </div>

                    <!--FINAL-->
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Search Result Section end -->

<hr>

