@model List<Looking4Home.BL.Producto>

@{
    ViewBag.Title = "Inicio";
}



<!-- How It Works Section Begin -->
<section class="howit-works spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title">
                    <span>Encuentra la Casa de tus Sueños</span>
                    <h2>Como Trabajamos</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4" style="flex: 0 0 33.333333%;">
                <div class="single-howit-works">
                    <img src="~/assets/img/howit-works/howit-works-1.png" alt="">
                    <h4>Busca un Apartamento</h4>
                    <p>Algo se nos ocurrira.</p>
                </div>
            </div>
            <div class="col-lg-4" style="flex: 0 0 33.333333%;">
                <div class="single-howit-works">
                    <img src="~/assets/img/howit-works/howit-works-2.png" alt="">
                    <h4>Encuentra tu Cuarto Ideal</h4>
                    <p>En algun lugar estara</p>
                </div>
            </div>
            <div class="col-lg-4" style="flex: 0 0 33.333333%;">
                <div class="single-howit-works">
                    <img src="~/assets/img/howit-works/howit-works-3.png" alt="">
                    <h4>Habla con nuestros Agentes</h4>
                    <p>Cuando tengamos algunos.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- How It Works Section End -->


<!-- Feature Section Begin -->
<section class="feature-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title">
                    <span>Recomendaciones de Nuestros Agentes</span>
                    <h2>Propiedades Unicas</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="feature-carousel owl-carousel">

                @foreach (var producto in Model.Where(r => r.Etiqueta.Descripcion == "Venta")
                .Take(6)
                .OrderBy(r => Guid.NewGuid())
                )
                {

                    <div class="col-lg-4">
                        <div class="feature-item">
                            <div class="fi-pic set-bg" data-setbg="@(ViewBag.adminWebsiteUrl + producto.UrlImagen)">
                                <div class="pic-tag">
                                    <div class="f-text">Oferta</div>
                                    <div class="s-text">Se vende</div>
                                </div>
                                <div class="feature-author">
                                    <div class="fa-pic">
                                        <img src="@(ViewBag.adminWebsiteUrl + producto.Vendedor.UrlImagen)" alt="">
                                    </div>
                                    <div class="fa-text">
                                        <span>@producto.Vendedor.Nombre</span>
                                    </div>
                                </div>
                            </div>
                            <div class="fi-text">
                                <div class="inside-text">

                                    @using (Html.BeginForm("Index2", "Home", FormMethod.Post)) //aqui
                                    {


                                        <h4>@producto.Descripcion </h4>
                                        <input id="buscar" name="buscar" type="hidden" placeholder="" value="@producto.Id" style="border: 0;">
                                        <ul>
                                            <li><i class="fa fa-map-marker"></i>@producto.Localizacion</li>
                                            <li><i class="fa fa-tag"></i>@producto.Etiqueta.Descripcion</li>
                                        </ul>
                                        <h5 class="price">L. @producto.Precio<span>/Mensual</span></h5>
                                        <div><button class="site-btn" type="submit">Ver mas</button></div>


                                    }

                                </div>
                                <ul class="room-features">
                                    <li>
                                        <i class="fa fa-arrows"></i>
                                        <p>@producto.Metros</p>
                                    </li>
                                    <li>
                                        <i class="fa fa-bed"></i>
                                        <p>@producto.Habitaciones</p>
                                    </li>
                                    <li>
                                        <i class="fa fa-bath"></i>
                                        <p>@producto.Bano</p>
                                    </li>
                                    <li>
                                        <i class="fa fa-car"></i>
                                        <p>@producto.Parking</p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                }

            </div>
        </div>
    </div>
</section>
<!-- Feature Section End -->

<!-- Top Properties Section Begin -->
<div class="top-properties-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="properties-title">
                    <div class="section-title">
                        <span>Propiedades en Renta</span>
                        <h2>Exclusivas</h2>
                    </div>
                    <a href="#" class="top-property-all">Ver todas las propiedades</a>
                </div>
            </div>
        </div>
    </div>


    <div class="container">
        <div class="top-properties-carousel owl-carousel">
            @foreach (var producto in Model.Where(r => r.Etiqueta.Descripcion == "Renta")
           .Take(3)
           .OrderBy(r => Guid.NewGuid())
           )
            {

                <div class="single-top-properties">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="stp-pic">
                                <img src="@(ViewBag.adminWebsiteUrl + producto.UrlImagen)" alt="">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="stp-text">
                                <div class="s-text">En @producto.Etiqueta.Descripcion</div>
                                <h2>@producto.Estructura.Descripcion</h2>
                                <div class="room-price">
                                    <span>Comenzando desde:</span>
                                    <h4>L. @producto.Precio</h4>
                                </div>
                                <div class="properties-location"><i class="fa fa-map-marker"></i>@producto.Localizacion</div>
                                <p>@producto.Descripcion</p>
                                <ul class="room-features">
                                    <li>
                                        <i class="fa fa-arrows"></i>
                                        <p>@producto.Metros</p>
                                    </li>
                                    <li>
                                        <i class="fa fa-bed"></i>
                                        <p>@producto.Habitaciones</p>
                                    </li>
                                    <li>
                                        <i class="fa fa-bath"></i>
                                        <p>@producto.Bano</p>
                                    </li>
                                    <li>
                                        <i class="fa fa-car"></i>
                                        <p>@producto.Parking</p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

            }
        </div>
    </div>
</div>
<!-- Top Properties Section End -->

<!-- Agent Section Begin -->
<section class="agent-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title">
                    <span>Estamos para Ayudarte</span>
                    <h2>Nuestros Agentes</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="agent-carousel owl-carousel">

                @foreach (var vendedor in ViewBag.listaVendedores)

                {

                    <div class="col-lg-3">
                        <div class="single-agent">
                            <div class="sa-pic">
                                <img src="@(ViewBag.adminWebsiteUrl + vendedor.UrlImagen)" alt="">
                                <div class="hover-social">
                                    <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
                                    <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
                                    <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
                                </div>
                            </div>
                            <h5>@vendedor.Nombre<span>@vendedor.Descripcion</span></h5>
                        </div>
                    </div>

                }

            </div>

        </div>
    </div>
</section>
<!-- Agent Section End -->


@section scripts {
<script>
 //CODIGO PARA BUSQUEDA

    var arrItem = [];
    var commaSeparatedIds = "";

    $("#ItemList input[type=radio]").each(function (index, val) {
        var checkId = $(val).attr("Id");

        var arr = checkId.split('_');

        var currentCheckboxId = arr[1];

        var Ischecked = $("#" + checkId).is(":checked", true);

        if (Ischecked) {
            arrItem.push(currentCheckboxId);
        }


        if (index == 0) {
            $('input#itemList').val(currentCheckboxId);
        }
    });

    function setItemList(itemList) {
        $('input#itemList').val(itemList);
    }

</script>

}