<!DOCTYPE html>
<html lang="zxx">
<head>
    <title>Looking | 4 HOME</title>
    <meta charset="UTF-8">
    <meta name="description" content="Real estate HTML Template">
    <meta name="keywords" content="real estate, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Favicon -->
    <link href="~/assets/img/favicon.ico" rel="shortcut icon" />
    <!-- Google font -->
    <link href="https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i,900%7cRoboto:400,400i,500,500i,700,700i&display=swap" rel="stylesheet">

    <!--Google Maps-->
    <link rel="stylesheet" href="~/assets/css/bootstrap-theme.min.css">
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/b2a02a7e75.js" crossorigin="anonymous"></script>

    <!-- Stylesheets -->
    <link rel="stylesheet" href="~/assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/assets/css/font-awesome.min.css" />
    <link rel="stylesheet" href="~/assets/css/slicknav.min.css" />
    <!-- Main Stylesheets -->
    <link rel="stylesheet" href="~/assets/css/style.css" />
    <link rel="stylesheet" href="~/assets/css/style2.css" />
    <link rel="stylesheet" href="~/assets/css/owl.carousel.min.css" type="text/css">

    <!--Main Boton flotante-->>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link href="dist/rbt.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="lib/bounce.min.js"></script>
    <script src="lib/animate.js"></script>
    <script src="dist/rbt.min.js"></script>
    <style type="text/css">
        .banner {
            color: #6a9ca7;
            font-size: 5vw;
            text-transform: uppercase;
            text-align: center;
            vertical-align: middle;
        }

        .small {
            font-size: 2vw;
            text-align: center;
            vertical-align: middle;
        }

        a {
            color: yellow;
        }

        .large {
            color: #6a9ca7;
            font-size: 13vw;
            text-transform: uppercase;
            text-align: center;
            vertical-align: middle;
        }

        .round {
            color: #FE4365;
        }

        .bulb {
            color: #555;
        }

        body {
            background-color: white;
        }

        .nilogo {
            z-index: 9888;
            /*width:100%;*/
            /*height:240px;*/
            position: fixed;
            left: 0px;
            bottom: 0px;
            pointer-events: hand;
        }
    </style>

</head>
<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>
    <!-- Header Section -->
    <header class="header-section">
        <a href="/Home" class="site-logo">
            <img style="width: 250px" src="~/assets/img/logo.png" alt="">
        </a>
        <nav class="header-nav">
            <ul class="main-menu">
                <li><a href="/Home" class="active">Inicio</a></li>
                <li><a href="/AcercaDe">Acerca de Nosotros</a></li>
                <!--    <li><a href="#">Comprar</a></li>-->
                <li>
                    <a href="#">Servicios</a>
                    <ul class="sub-menu">
                        <li><a href="/Vender">Venta</a></li>
                        <li><a href="/VistaServiciosCompra">Compra</a></li>
                        <li><a href="/VistaServiciosRenta">Renta</a></li>
                    </ul>
                </li>
                <!--<li><a href="news.html">Nuevo</a></li>-->
                <li><a href="/Contactanos">Contactenos</a></li>
            </ul>
            <div class="header-right">
                <div class="user-panel">
                    <a href="login.html" class="login">Iniciar Sesíon</a>
                    <a href="login.html" class="register">Perfil</a>
                </div>
            </div>
        </nav>
    </header>
    <!-- Header Section end -->



    <!--MUESTRA DE PARTE INICIAL/IMAGENES QUE CAMBIAN-->
    <!-- Hero Section Begin  IMPORTANTE -->
    <div id="prueba">
        <section class="hero-section">
            <div class="hero-items owl-carousel">

                <div class="single-hero-item set-bg" data-setbg="/assets/img/hero/hero-1.jpg">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-8 offset-lg-2">
                                <div class="hero-text">
                                    <p class="room-location"><i class="fa fa-map-marker"></i> 9721 Glen Creek Ave. Ballston Spa, NY</p>
                                    <h2>Villa 9721 Glen Creek</h2>
                                    <div class="room-price">
                                        <span>Precio desde:</span>
                                        <p>L. 3.000.000</p>
                                    </div>
                                    <ul class="room-features">
                                        <li>
                                            <i class="fa fa-arrows"></i>
                                            <p>5201 sqft</p>
                                        </li>
                                        <li>
                                            <i class="fa fa-bed"></i>
                                            <p>8 Cuartos</p>
                                        </li>
                                        <li>
                                            <i class="fa fa-bath"></i>
                                            <p>7 Baños</p>
                                        </li>
                                        <li>
                                            <i class="fa fa-car"></i>
                                            <p>1 Garaje</p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="single-hero-item set-bg" data-setbg="/assets/img/hero/hero-2.jpg">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-8 offset-lg-2">
                                <div class="hero-text">
                                    <p class="room-location"><i class="fa fa-map-marker"></i> 9721 Glen Creek Ave. Ballston Spa, NY</p>
                                    <h2>Villa 9721 Glen Creek</h2>
                                    <div class="room-price">
                                        <span>Precio desde:</span>
                                        <p>L. 3.000.000</p>
                                    </div>
                                    <ul class="room-features">
                                        <li>
                                            <i class="fa fa-arrows"></i>
                                            <p>5201 sqft</p>
                                        </li>
                                        <li>
                                            <i class="fa fa-bed"></i>
                                            <p>8 Cuartos</p>
                                        </li>
                                        <li>
                                            <i class="fa fa-bath"></i>
                                            <p>7 Baños</p>
                                        </li>
                                        <li>
                                            <i class="fa fa-car"></i>
                                            <p>1 Garaje</p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="single-hero-item set-bg" data-setbg="/assets/img/hero/hero-3.jpg">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-8 offset-lg-2">
                                <div class="hero-text">
                                    <p class="room-location"><i class="fa fa-map-marker"></i> 9721 Glen Creek Ave. Ballston Spa, NY</p>
                                    <h2>Villa 9721 Glen Creek</h2>
                                    <div class="room-price">
                                        <span>Precio desde:</span>
                                        <p>L 3.000.000</p>
                                    </div>
                                    <ul class="room-features">
                                        <li>
                                            <i class="fa fa-arrows"></i>
                                            <p>5201 sqft</p>
                                        </li>
                                        <li>
                                            <i class="fa fa-bed"></i>
                                            <p>8 Cuarto</p>
                                        </li>
                                        <li>
                                            <i class="fa fa-bath"></i>
                                            <p>7 Baño</p>
                                        </li>
                                        <li>
                                            <i class="fa fa-car"></i>
                                            <p>1 Garaje</p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--   PARTE DE TRE IMAGENES INFERIORES   -->
            <div class="thumbnail-pic">
                <div class="thumbs owl-carousel">
                    <div class="item">
                        <img style="height: 94px; width: 165px;" src="/assets/img/hero/hero-1.jpg" alt="">
                    </div>
                    <div class="item">
                        <img style="height: 94px; width: 165px;" src="/assets/img/hero/hero-2.jpg" alt="">
                    </div>
                    <div class="item">
                        <img style="height: 94px; width: 165px;" src="/assets/img/hero/hero-3.jpg" alt="">
                    </div>
                </div>
            </div>
        </section>
        <!-- Hero Section end -->

    </div>


        <!-- Hero Section end -->
        <section id="prueba2" class="hero-section set-bg" data-setbg="/assets/img/hero/hero-2.jpg" style="padding-top: 290px; padding-bottom: 34px">
            <div class="search-form">
                <div class="container">




                </div>
            </div>
        </section>
        <!-- Hero Section End  FIN IMPORTANTE -->


        <!--BUSCADOR-->
        <section id="prueba3" class="hero-section set-bg">
            <div class="search-form">
                <div class="container">
                    <!--BUSCADOR-->
                    <div class="hero-warp">
                        @using (Html.BeginForm("Index", "Home", FormMethod.Post, new { @class = "main-search-form" }))
                        {
                            <div id="ItemList" class="search-type">

                                @foreach (var item in ViewBag.ItemList)

                                {
                                    <div class="st-item">
                                        <input type="radio" name="st" id="Check_@item.Nombre" checked="@item.IsCheck">
                                        <label onclick="setItemList('@item.Nombre')" for="Check_@item.Nombre">@item.Nombre</label>
                                    </div>
                                }

                            </div>


                            <div class="search-input">
                                <input id="buscar" name="buscar" type="text" placeholder="Busca por estado o codigo postal">
                                <input id="itemList" name="itemList" type="hidden">
                                <button class="site-btn" type="submit">Buscar</button>
                            </div>

                            <p>Busca entre miles de Opciones, todo esta al alcanse de tus manos</p>
                        }
                    </div>

                </div>
            </div>
        </section>
        <!-- Hero Section End  FIN IMPORTANTE -->






    @RenderBody()

    <!-- Footer Section Begin -->
    <footer class="footer-section set-bg" data-setbg="/assets/img/footer-bg.jpg">

        <div class="container">
            <div class="footer-text">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="footer-logo">
                            <div class="logo">
                                <a href="#"><img src="~/assets/img/logo2.png" alt="" style="width: 60%"></a>
                            </div>
                            <p>Suscribanse y Comencemos</p>
                            <form action="#" class="newslatter-form">
                                <input type="text" placeholder="Ingresa tu correo...">
                                <button type="submit"><i class="fa fa-location-arrow"></i></button>
                            </form>
                        </div>
                    </div>
                    <div class="col-lg-3 offset-lg-1">
                        <div class="footer-widget">
                            <h4>Ciudades</h4>
                            <ul>
                                <li><i class="fa fa-caret-right"></i> <a href="#">Florida</a></li>
                                <li><i class="fa fa-caret-right"></i> <a href="#">New York</a></li>
                                <li><i class="fa fa-caret-right"></i> <a href="#">Washington</a></li>
                                <li><i class="fa fa-caret-right"></i> <a href="#">Los Angeles</a></li>
                            </ul>
                            <ul>
                                <li><i class="fa fa-caret-right"></i> <a href="#">St Louis</a></li>
                                <li><i class="fa fa-caret-right"></i> <a href="#">Jacksonville</a></li>
                                <li><i class="fa fa-caret-right"></i> <a href="#">San Jose</a></li>
                                <li><i class="fa fa-caret-right"></i> <a href="#">San Diego</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="footer-widget">
                            <h4>Social</h4>
                            <ul class="social">
                                <li><i class="fa fa-facebook"></i> <a href="#">Facebook</a></li>
                                <li><i class="fa fa-instagram"></i> <a href="#">Instagram</a></li>
                                <li><i class="fa fa-twitter"></i> <a href="#">Twitter</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="footer-widget">
                            <h4>Contactenos a</h4>
                            <ul class="contact-option">
                                <li><i class="fa fa-map-marker"></i> 16 Creek Ave. Farming, NY</li>
                                <li><i class="fa fa-phone"></i> (+88) 666 121 4321</li>
                                <li><i class="fa fa-envelope"></i> info.colorlib@gmail.com</li>
                                <li><i class="fa fa-clock-o"></i> Mon - Sat, 08 AM - 06 PM</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="copyright-text">
                <p><p>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    Copyright &copy;
                    <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="ti-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                </p></p>
            </div>
        </div>

        <!--boton flotante-->

        <div class="rbt_wrapper">
            <script type="text/javascript">
			var config = {
			    main: {
			        "bgcolor": "red",
			        "icon":"<i class='fa fa-bars'></i>"
			    },
			    links:[
			        {
			            "url": "/Games/index.html",
			            "bgcolor":"red",
			            "color": "white",
			            "icon": "<i class='fa fa-gamepad'></i>",
			            /*"target":"_blank",*/
			            "title" : "Juego",
			            onClick: function(){
			                alert("Gracias por su Visita");
			            }
			        },{
			            "url": "/Contactanos",
			            "bgcolor":"red",
			            "color":"white",
			            "icon": "<i class='fa fa-envelope'></i>",
			            "title" : "Mensaje"
			        },{
			            "url": "http://localhost:53398",
			            "bgcolor": "red",
			            "color":"white",
			            "icon": "<i class='fa fa-comments'></i>",
			            "target":"_blank",
			            "title" : "Chat"
			        }
			    ]
			}

			$(document).ready(function(){
			    rbt_display($(".rbt_wrapper"),config,(menu) => {
			    	$(".rbt_main_btn").hover(function(){
			    		mainAnimation($(this));
			    	});
			        menuAnimation(menu);
			        //menu.slideDown( "slow" );
			    });
			});

            </script>
        </div>
    </footer>

    <!-- Footer Section End -->
    <!--====== Javascripts & Jquery ======-->
    <script src="~/assets/js/jquery-3.2.1.min.js"></script>
    <script src="~/assets/js/bootstrap.min.js"></script>
    <script src="~/assets/js/jquery.slicknav.min.js"></script>
    <script src="~/assets/js/jquery.magnific-popup.min.js"></script>
    <script src="~/assets/js/main.js"></script>

    <!-- Js Plugins -->
    <script src="~/assets/js/jquery-3.3.1.min.js"></script>
    <script src="~/assets/js/jquery.nice-select.min.js"></script>
    <script src="~/assets/js/jquery-ui.min.js"></script>
    <script src="~/assets/js/owl.carousel.min.js"></script>
    <script src="~/assets/js/main2.js"></script>

    <script>
//VALIDACION DE PAGINAS


        if (window.location.href == "http://localhost:51123/" || window.location.href == "http://localhost:51123/Home" ||
                                        window.location.href == "http://localhost:51123/Home/Index") {

        }
        else {
            $('#prueba').toggle();
        }


        if (window.location.href == "http://localhost:51123/" || window.location.href == "http://localhost:51123/Home" ||
                                    window.location.href == "http://localhost:51123/Home/Index" || window.location.href == "http://localhost:51123/Contactanos" ||
                                    window.location.href == "http://localhost:51123/Contactanos/Index") {
            $('#prueba2').toggle();
        }
        else {

        }

        if (window.location.href == "http://localhost:51123/Contactanos/Index" || window.location.href == "http://localhost:51123/Contactanos"
                                    || window.location.href == "http://localhost:51123/Vender/Crear") {
            $('#prueba3').toggle();
        }
        else {

        }

    </script>

    <script>
 //CODIGO PARA BUSQUEDA

    var arrItem = [];
    var commaSeparatedIds = "";

    $("#ItemList input[type=radio]").each(function (index, val) {
        var checkId = $(val).attr("Id");

        var arr = checkId.split('_');

        var currentCheckboxId = arr[1];

        var Ischecked = $("#" + checkId).is(":checked", true);

        if (Ischecked) {
            arrItem.push(currentCheckboxId);
        }


        if (index == 0) {
            $('input#itemList').val(currentCheckboxId);
        }
    });

    function setItemList(itemList) {
        $('input#itemList').val(itemList);
    }

    </script>

    @RenderSection("scripts", required: false)

</body>
</html>
